<div class="input-group">
  <span class="input-group-addon input-group-addon-brown">{{ command.command}} </span>

  <select ng-show="command.gameObject" ng-model="$parent.selectedObject" ng-options="game.name group by game.effect for game in gameObjects">
  </select>
  <span class="input-group-addon input-group-addon-brown" ng-show="command.filler"> {{ command.filler }} </span>
  <button class="btn btn-primary" ng-show="command.variable"> {{ command.variable }} </button>
  <!-- <button type="button" class="btn btn-default btn-block text-left">End If </button> -->
</div>
