<div class="input-group loop-command">
  <span class="input-group-addon input-group-addon-green" ng-show="command.command">{{ command.command }}</span>
  <div class="input-group-btn"  ng-show="command.commandType">
    <button type="button" class="btn btn-success" data-toggle="dropdown">
      <span class="text-only">{{ command.commandType }}&nbsp;&nbsp;&nbsp;</span>
    </button>

  </div>
  <select  ng-show="command.gameObject" ng-model="command.gameObject" ng-options="go for go in gameObjects">
  </select>

	<select  ng-show="command.operator" ng-model="command.operator" ng-options="op for op in operators"> 
    </select>
  <input type="text" ng-model="command.parameters" ng-model-options="{ updateOn: 'blur' }" ng-show="showField(command)" />

</div>
