<div class="input-group">
  <span class="input-group-addon input-group-addon-green" ng-show="command.command">{{ command.command }}</span>
  <div class="input-group-btn"  ng-show="command.commandType">
    <button type="button" class="btn btn-success" data-toggle="dropdown">
      <span class="text-only">{{ command.commandType }}&nbsp;&nbsp;&nbsp;</span>
    </button>

  </div>
  <select  ng-show="command.gameObject" ng-model="command.gameObject" ng-options="go.name group by go.effect for go in gameObjects">
    </select>

	<select  ng-show="command.operator" ng-model="command.operator" ng-options="op.name for op in operators">
    </select>
  <input type="text" class="form-control" ng-model="command.parameters" ng-model-options="{ updateOn: 'blur' }" ng-show="showField(command)" />

  <br />

</div>
