<div class="container" >
  <div id="command-bar">
    <div class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="run()">Run</a></li>
          <!--<li><a id="save-workspace" ng-click="sendData()">Save</a></li>//-->
          <li><a ng-click="clearCommands()">Clear all</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container" >

  <div class="row" ng-controller="MapMakerCtrl">
    <div class="col-xs-4" id="command-palette">
      <accordion>
      <!-- <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Add players</h3>
        </div>
        <div class="panel-body"> -->
        <accordion-group class="panel-primary" heading="Add players">

          <div class="row">
            <div class="map-item col-xs-3" ng-repeat="color in playerColors" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: {{$index}}, animate: false, placeholder: 'keep'}" ng-model="playerColors">

              <img ng-src="game_images/{{color.type}}.png"/>

            </div>
          </div>
        </accordion-group>
       <!--  </div>
      </div> -->
      </accordion>

      <accordion>
     <!--  <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Add items</h3>
        </div>
        <div class="panel-body" id="items-palette"> -->
        <accordion-group class="panel-primary" heading="Add items" id="items-palette">
          <div class="row">
            <div class="map-item col-xs-3" ng-repeat="item in objectList" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: {{$index}}, animate: false, placeholder: 'keep'}" ng-model="objectList">
              <img ng-src="game_images/{{item.type}}.png"/>
            </div>
          </div>
          <a ng-click="saveMap()">Save Map</a><br/>
          <a ng-click="clearMap()">Clear Map</a>
        </accordion-group>
      <!--   </div>
      </div> -->
      </accordion>

      <accordion>
      <!-- <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Your custom maps</h3>
        </div>
        <div class="panel-body"> -->
        <accordion-group class="panel-primary" heading="Your custom maps">
         <ul>
           <li ng-repeat = "map in customMaps">
             {{ map.name }}
           </li>
         </ul>
        </accordion-group>
      <!--   </div>
      </div> -->
      </accordion>

    </div>

     <div class="col-xs-4 panel panel-primary">
      <div class="panel-body" id="map-left">
        <div class="row">
          <div class="map-box map-item col-xs-3"  data-drop="true" ng-repeat="box in leftGrid" ng-model="leftGrid[box.index]" data-jqyoui-droppable="{multiple:true, onDrop: 'dropped'}" >
            <img class="map-item" ng-src="{{'game_images/' + box.type + '.png'}}" ng-show="{{box.type.length}}"/>
          </div>
        </div>
      </div>
    </div>



    <div class="col-xs-4 panel panel-primary">
      <div class="panel-body" id="map-right">

        <div class="row">
          <div class="map-box map-item col-xs-3"  data-drop="true" ng-repeat="box in rightGrid" ng-model="rightGrid[box.index]" data-jqyoui-droppable="{multiple:true, onDrop: 'dropped'}" >
            <img class="map-item" ng-src="{{'game_images/' + box.type + '.png'}}" ng-show="{{box.type.length}}"/>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
