<div class="container" ng-controller="VisualizationCtrl">
    <div class="row">
    	<div class="col-md-9">
	    	<div id="container" align="center"></div>
        </div>
        <div class="col-md-3">
        	<div class="panel panel-default">
            	<div class="panel-heading">
                	<h3 class="panel-title">Statistics</h3>
             	</div>
                <div class="panel-body" id="localPlayerHealth">Health: {{player.model.health}}</div>
                <div class="panel-body" id="localPlayerCoin">Coins: {{player.model.coin}}</div>
            </div>

            <button class="btn btn-primary" ng-click="executeNextEvent()">Execute Next Event</button>
            <button class="btn btn-primary" ng-click="execute()">Play All Events</button>
        </div>
    </div>
</div>
