.input-group-addon-black{
    background-color: #222222;
    border-color: #222222;
    color: #FFF;
    font-size: 15px;
}

.loop-command, .loop-command span{
    background-color: #3fb618;
    border-color: #3fb618;
    color: #FFF;
    font-size: 15px;
}

.loop-command select, .loop-command input, .loop-command option{
  background: transparent;
  border:none;
  white-space: nowrap;
  vertical-align: middle;
  height:37px;
  text-align:center;
}

.control-command, .control-command span{
    background-color: #ff7518;
    border-color: #ff7518;
    color: #FFF;
    font-size: 15px;
}

.control-command select, .control-command input, .control-command option{
  background: transparent;
  border:none;
  white-space: nowrap;
  vertical-align: middle;
  height:37px;
  text-align:center;
}



#workspace-container{
    max-height:1000px;
    overflow-y:scroll;
}

#workspace-main{
    background-color: #eee;
}

#command-palette .panel-body .row{
    margin: auto;
}
.command-object{
    z-index:10;
    margin-bottom:5px;
}

.command-placeholder{
}

.workspace-row div{
    height:43px;
    background-color:#eee;

}

.line-number{
    border-right: solid 1px #e0e0e0;
}

.command-object .input-group > :first-child{
    width: 100px;
}

.command-object .input-group > :nth-child(2){
    width: 100px;
}

.command-object .input-group > :nth-child(2) button{
    width: 100%;
}

.command-object .control-command input:last-child, .command-object .loop-command input:last-child{
  width:50px;
}

.close-button{
    background-color: #eee;
    border-top: none;
    border-right: none;
    border-bottom: none;
    color: #e0e0e0;
}

.close-button:hover{
    background-color: #eee;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left-color: #cccccc;
    color: #c0c0c0;
}

.row{
  z-index:0;
}
.dropdown-menu{
  z-index:999;
}


/* image as radio button */
/* http://stackoverflow.com/questions/17541614/use-thumbnail-image-instead-of-radio-button */
label.ninjas > input {
  visibility: hidden;
  position: absolute;
}

label > input + img {
  cursor: pointer;

  opacity: 0.3;
  filter: alpha(opacity=30);
  width: 100%;
  height: 100%;
}
label > input:checked + img {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
