<!DOCTYPE html>
<html lang="en" ng-app="visualide">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visual IDE workspace prototype</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-cosmo.min.css" rel="stylesheet">
    <link href="css/workspace.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="DragCommandController">

    <div class="container" >
        <h1>Workspace <small>prototype v0.1</small></h1>
        <div id="command-bar">
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Undo</a></li>
                        <li><a href="#">Redo</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Dropdown header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Run</a></li>
                        <li><a href="#" id="save-workspace" ng-click="sendData()">Save</a></li>
                        <li><a href="#" ng-click="clearCommands()">Clear all</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" >
        <!-- This part of the code works
        <div class="row">
        <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{animate:true}" >Hello World</div>
    </div>
    <div class="row">
    <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px;'>
    <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">{{list2.title}}</div>
</div>
</div> -->


<div class="row">
    <div class="col-xs-4" id="command-palette">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Statements</h3>
            </div>
            <div class="panel-body">
                <div class="command-object-wrapper">
                    <div ng-repeat='navCommand in navigation' ng-show="navCommand.command" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="navigation" jqyoui-draggable="{index: {{$index}},animate:true, placeholder: 'keep'}" class="input-group command-object move-command" data-type="move" data-direction="up" data-steps="0" >
                        <span class="input-group-addon">{{ navCommand.command }} </span>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default " data-toggle="dropdown" data-option="move-direction">
                                <span class="text-only">{{ navCommand.direction }}&nbsp;&nbsp;&nbsp;</span> </button>

                            </div>
                            <input type="text" class="form-control" ng-model="navCommand.steps" >

                            <br />

                        </div>

                    </div>

                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Control</h3>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-default btn-block text-left">If ( ... ) </button>
                    <button type="button" class="btn btn-default btn-block text-left">Else If ( ... )</button>
                    <button type="button" class="btn btn-default btn-block text-left">Else</button>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Loops</h3>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-default btn-block text-left">While ( ... ) </button>
                    <button type="button" class="btn btn-default btn-block text-left">For ( ... )</button>
                    <button type="button" class="btn btn-default btn-block text-left">Do While</button>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="panel panel-primary">
                <div class="panel-body" id="workspace-main">
                    <ol data-drop="true" ng-model="commandsWorkspace" jqyoui-droppable="{multiple:true}" >

                            <li class="input-group command-object move-command" ng-repeat="item in commandsWorkspace track by $index" ng-show="item.command" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="commandsWorkspace" jqyoui-draggable="{index: {{$index}}, animate:true}">

                                <span class="input-group-addon">{{ item.command }}</span>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default " data-toggle="dropdown" data-option="move-direction">
                                        <span class="text-only">{{ item.direction }}</span>
                                    </button>
                                </div>
                                <input type="text" class="form-control" ng-model="item.steps"/>
                                <!--a href="" ng-click="removeCommands($index)">X</a>


                            </li>
                            <li class="placeholder" ng-hide="hideMe()">Add your items here</li>
                        </ol>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/workspace.js"></script>

</body>
</html>
